body, html {
	font-family: 'Lato', sans-serif;
  font-size: 18px;
  height: 100%;
  color: black;
  background: url('../images/baby2.jpg') 50% 0 repeat fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.well {
  margin-top: 10px;
  background-color: rgba(0,0,0,0.2);
  border: 0;
  border-radius: 0;
}

hr {
  border-top-color: #a8b0f9;
}

.navbar-default .navbar-nav>li>a, a.navbar-brand.title {
  color: white;
}

.lead {
  font-weight: 700;
  font-size: 30px;
}

#hero {
  min-height: 600px;
  position: relative;
  display: table;
  width: 100%;
  padding: 40px 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#hero article {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.navbar-nav>li>a {
  text-align: right;
}

.navbar-default {
  border: 0;
/*  background-color: rgba(121,125,139,0.6);*/
  background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.3) 75%,rgba(0,0,0,0) 100%);
}

.navbar-default .navbar-toggle, .navbar-default:hover {
  border-color: rgba(221, 221, 221, 0);
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
  text-decoration: underline;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 1px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: rgba(0,0,0,0);
}

.navbar-nav>li>a:hover {
  background-color: rgba(0,0,0,0.4);
  color: white;
}

h1,h2,a#title.navbar-brand {
	font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 2px;
}

h3 {
  font-weight: bold;
}

.length-window {
  background-color: black;
  color: white;
  font-size: 1.5em;
  padding: 5px;
  border-radius: 5px;
}

a#title.navbar-brand {
  color: black;
  font-size: 1.2em;
}

.features {
  text-align: left;
  font-weight: 300;
  font-size: 1.2em;
}

tbody tr, .well.phrases {
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0);
}

tbody tr, .well.phrases:hover {
	border: 1px solid black;
}

.addMsg {
  color: green;
}

.list-group:hover {
  cursor: pointer;
}

.list-group-item {
  border: 1px solid #898888;
}

.form-control {
  font-size: 18px;
}

#word-view {
  background-color: #e4eac4;
}

.resolved {
  background-color: rgba(160,223,173,0.5);
}

.unresolved {
  background-color: rgba(227,141,108,0.5);
}

.match {
  color: #44b649;
  font-weight: bold;
}

.navbar {
  margin-bottom: 0;
}

.btn-menu {
  background-color: #f8f8f8;
  font-size: 25px;
}

#sub-menu {
  z-index: 4;
}

.affix {
  top: 0;
}

h3 {
  margin-top: 10px;
}

.btn {
  border-radius: 0;
}

.word-search {
  padding: 10px;
  max-width: 500px;
}

#add-btn {
  color: white;
  background-color: #23527c;
  margin: 20px;
  padding: 20px;
  border-radius: 40%;
}

#about {
  padding: 50px 20px;
  background-color: white;
}

#about .lead {
  font-size: 1.2em;
}

.fa-child {
  text-align: center;
  font-size: 3em;
}

footer {
  padding: 40px;
  min-height: 300px;
  position: relative;
}

footer p a {
  color: black;
  text-decoration: underline;
}

.list-inline>li {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .btn-menu {
    font-size: 20px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-default .navbar-nav>li>a {
    color: white;
    background-color: rgba(0,0,0,0.5);
  }
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: black;
  }
}