<navigation></navigation>
<div class="container" ng-controller="wordCtrl as vm">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger" ng-show="vm.alertMsg">{{ vm.alertMsg }}</div>
			<h1>{{ vm.single_word }} Single Words, {{ vm.phrases }} Phrases (2+ words)</h1>
			<button class="btn btn-primary" ng-click="vm.showAddForm = true">Add Word</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form ng-submit="vm.addWord(vm.new)" ng-show="vm.showAddForm">
				<div class="form-group">
					<label>Word</label>
					<input type="text" ng-model="vm.new.word" class="form-control">
				</div>
				<div class="form-group">
					<label>Sound</label>
					<input type="text" ng-model="vm.new.sound" class="form-control">
				</div>
				<div class="form-group">
					<label>Category</label>
					<input type="text" ng-model="vm.new.category" class="form-control">
				</div>
				<div class="form-group">
					<label>Date added</label>
					<input type="date" ng-model="vm.new.date_added" class="form-control">
				</div>
				<button type="submit" class="btn btn-success" ng-click="vm.showAddForm = false; vm.alertMsg = false">Submit</button>
				<a href="" class="btn btn-primary" ng-click="vm.showAddForm = false">Cancel</a>
			</form>
		</div>
	</div>
	<div class="row">
		<br>
		<div class="col-md-3" ng-repeat="w in vm.words | orderBy : 'word' ">
			<div class="well" ng-click="editWord = true" ng-hide="editWord" ng-init="editWord = false">
				<h3>{{ w.word }}</h3><br>
				{{ w.sound }}
			</div>
			<div class="well" ng-show="editWord">
				<form class="form" ng-submit="vm.editWord(w)">
					<div class="form-group">
						<label>Word</label>
						<input class="form-control" ng-model="w.word" type="text">
					</div>
					<div class="form-group">
						<label>Sound</label>
						<input class="form-control" ng-model="w.sound" type="text">
					</div>
					<div class="form-group">
						<label>Category</label>
						<input class="form-control" ng-model="w.category" type="text">
					</div>
					<div class="form-group">
						<label>Date</label>
						<input type="date" class="form-control" ng-model="w.date_added">
					</div>
					<button class="btn btn-success" ng-click="editWord = false">OK</button>
					<a href="" class="btn btn-primary" ng-click="editWord = false">CANCEL</a>
					<a href="" class="btn btn-danger" ng-click="vm.deleteWord(w)">DELETE</a>
				</form>
			</div>
		</div>
	</div>
</div>