<navigation></navigation>
<style>
	#words-panel {
		height: 500px;
		overflow: scroll;
	}
</style>
<div id="word-view">
	<div ng-controller="wordCtrl as vm">
		<!-- Tabs WORDS, PHRASES, GUIDE -->
		<div data-spy="affix" data-offset-top="80" id="sub-menu">
			<div class="btn-group btn-group-justified">
				<a class="btn btn-default btn-menu" ng-class="{'active':vm.showWord}" ng-click="vm.showPane('word')" id="words-btn"><b>WORDS</b></a>
				<a class="btn btn-default btn-menu" ng-class="{'active':vm.showPhrase}" ng-click="vm.showPane('phrase')" id="phrases-btn"><b>PHRASES</b></a>
				<a class="btn btn-default btn-menu" ng-class="{'active':vm.showStat}" ng-click="vm.showPane('stat');vm.checkMatch()" id="guide-btn"><b>GUIDE</b></a>
			</div>
		</div>

		<!-- Alert Message -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="alert alert-danger" ng-show="vm.alertMsg">{{ vm.alertMsg }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
				</div>
			</div>
		</div>
		<div class="container">

			<!-- Add Word Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">ADD WORD / PHRASE</h4>
			      </div>
			      <div class="modal-body">
			      <form class="well form">
							<div class="form-group">
								<label>Word</label>
								<input type="text" ng-model="vm.new.word" class="form-control" placeholder="Enter 2 or more words to save as phrase" id="newWord">
							</div>
							<div class="form-group">
								<label>Sound</label>
								<input type="text" ng-model="vm.new.sound" class="form-control" placeholder="Optional: Leave blank to be the same as word">
							</div>
							<div class="form-group">
								<label>Category</label>
								<input type="text" ng-model="vm.new.category" class="form-control">
							</div>
							<div class="form-group">
								<label>Date added</label>
								<input type="date" ng-model="vm.new.date_added" class="form-control" placeholder="YYYY/MM/DD">
							</div>
							<button type="submit" class="btn btn-success" ng-click="vm.showAddForm = false; vm.alertMsg = false;vm.addWord(vm.new.word);vm.wordFilter = '';vm.phraseFilter = ''" data-dismiss="modal">SUBMIT</button>
							<a class="btn btn-default" data-dismiss="modal">CANCEL</a>
						</form>
			      </div>
			    </div>
			  </div>
			</div>

			<!-- Add Button for enabling Modal -->
			<div class="text-center">
				<button ng-click="vm.logWords()" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal" id="add-btn" type="button">ADD</button>
			</div>


			<!-- WORDS panel -->
			<div class="row" ng-show="vm.showWord" ng-init="vm.wordSort = '-date-added'">
				<div class="col-md-12">
					<h3><span class="length-window"><span ng-show="vm.words.length">{{ vm.words.length }}</span><span ng-show="vm.loadingMsg">Loading...</span></span> total words<span ng-show="vm.addWordMsg" class="addMsg"> - <i class="fa fa-check"></i> 1 word added</span></h3>
					<div class="well">
						<div class="word-search">
					      <input type="text" class="form-control" ng-model="vm.wordFilter" placeholder="Search for...">
				    </div>
			 Sort by : <a href="" ng-click="vm.wordSort = '-date_added'" class="btn btn-xs btn-primary">date added</a>, <a href="" ng-click="vm.wordSort = 'word'" class="btn btn-xs btn-primary">alphabetical</a></div>
				</div>
			</div>

			<div class="row" id="words-panel">
				<!-- WORD Cells -->
				<div class="col-md-3" ng-repeat="w in vm.words | orderBy : vm.wordSort | filter : vm.wordFilter ">
					<div class="well phrases" ng-click="editWord = true" ng-hide="editWord" ng-init="editWord = false" ng-class="{ 'resolved': !w.status, 'unresolved': w.status }">
						<h3>{{ w.word }}</h3><br>
						{{ w.sound }}
					</div>
					<div class="well" ng-show="editWord">
						<form class="form" ng-submit="vm.editWord(w)">
							<div class="form-group">
								<label>Word</label>
								<input class="form-control" ng-model="w.word" type="text">
							</div>
							<div class="form-group">
								<label>Sound</label>
								<input class="form-control" ng-model="w.sound" type="text">
							</div>
							<div class="form-group">
								<label>Category</label>
								<input class="form-control" ng-model="w.category" type="text">
							</div>
							<div class="form-group">
								<label>Date</label>
								<input type="date" class="form-control" ng-model="w.date_added">
							</div>
							<button class="btn btn-success" ng-click="editWord = false">OK</button>
							<a href="" class="btn btn-primary" ng-click="editWord = false">CANCEL</a>
							<a href="" class="btn btn-danger" ng-click="vm.deleteWord(w)">DELETE</a>
						</form>
					</div>
				</div>
			</div>

			<!-- PHRASES panel -->
			<div class="row" ng-show="vm.showPhrase" ng-init="vm.phraseSort = '-date-added'">
				<div class="col-md-12">
					<h3><span class="length-window">{{ vm.phrases.length }}</span> total phrases<span ng-show="vm.addPhraseMsg" class="addMsg"> - <i class="fa fa-check"></i> 1 phrase added</span></h3>
					<div class="well">
						<div class="word-search">
					      <input type="text" class="form-control" ng-model="vm.phraseFilter" placeholder="Search for...">
				    </div>
			 Sort by : <a href="" ng-click="vm.phraseSort = '-date_added'" class="btn btn-xs btn-primary">date added</a>, <a href="" ng-click="vm.phraseSort = 'phrase'" class="btn btn-xs btn-primary">alphabetical</a></div>
				</div>
				<div class="col-md-3" ng-repeat="p in vm.phrases | orderBy : vm.phraseSort | filter : vm.phraseFilter">
					<div class="well phrases" ng-click="editPhrase = true" ng-hide="editPhrase" ng-init="editPhrase = false" ng-class="{ 'resolved': !p.status, 'unresolved': p.status }">
						<h3>{{ p.phrase }}</h3><br>
						{{ p.sound }}
					</div>
					<div class="well" ng-show="editPhrase">
						<form class="form" ng-submit="vm.editPhrase(p)">
							<div class="form-group">
								<label>Phrase</label>
								<input class="form-control" ng-model="p.phrase" type="text">
							</div>
							<div class="form-group">
								<label>Sound</label>
								<input class="form-control" ng-model="p.sound" type="text">
							</div>
							<div class="form-group">
								<label>Category</label>
								<input class="form-control" ng-model="p.category" type="text">
							</div>
							<div class="form-group">
								<label>Date</label>
								<input type="date" class="form-control" ng-model="p.date_added">
							</div>
							<button class="btn btn-success" ng-click="editPhrase = false">OK</button>
							<a href="" class="btn btn-primary" ng-click="editPhrase = false">CANCEL</a>
							<a href="" class="btn btn-danger" ng-click="vm.deletePhrase(p)">DELETE</a>
						</form>
					</div>
				</div>
			</div>

			<!-- GUIDE (Stats) panel -->
			<div class="row" ng-show="vm.showStat" ng-init="vm.order = 'category'">
				<div class="col-md-6 col-md-offset-3">
					<ul class="list-group">
						<li ng-repeat="(k,g) in vm.guideObj" class="list-group-item" ng-click="showGroup = !showGroup">
							<h2>{{ k }} <span class="pull-right">
								<i class="fa fa-plus-circle" aria-hidden="true" ng-hide="showGroup"></i>
								<i class="fa fa-minus-circle" aria-hidden="true" ng-show="showGroup"></i></span></h2>
							<div class="well" ng-show="showGroup">
								<span ng-class="{ 'btn-success': h.status }" ng-repeat="h in g" class="guideWord btn btn-default" ng-click="vm.guideAddWord(h.word);vm.showAddForm = true" data-toggle="modal" data-target="#myModal"><b>{{ h.word }}</b></span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
